.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.choice-box {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

// Selected item text color on the control itself
.choice-box > .label { -fx-background-color: -fx-focus-color, -fx-background ; }

.button {
  -fx-color: #87CEFA;

  -fx-background-color: linear-gradient(#f2f2f2, -fx-color)
  -fx-background-radius: 8, 7, 6;
  -fx-background-insets: 0, 1, 2;
  -fx-text-fill: black;
  -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
  -fx-color: #80C2EB;
}

.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
}